$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 750px,
  lg: 992px,
  xl: 1260px,
  xm: 1360px,
  xd: 1550px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1222px,
) !default;
