@import "./library/variables";
@import "./library/reset";
@import "./library/breakpoints";
@import "./library/container"; 
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "Manrope", serif;


//menu
  .menu {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 7px 17px rgba(0, 0, 0, 0.04);

    @include media-breakpoint-up(md) {
       padding: 20px 0;
      }

    .menu-cent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1120px;
      width: 95%;
      margin: 0 auto;

  


      @include media-breakpoint-up(xl) {
    width: unset;
    }

      .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0 0 28px;

        @include media-breakpoint-up(md) {
          margin: 0 0 0 14px;
          }

        #logo-link {

          img {
          width: 100px;
          @include media-breakpoint-up(md) {
          width: unset;
          }
        }
        }

        ul {
          display: none;
   
          @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            margin-left: 45px;
          }

          li {
            margin: 0 9px 0 0;
            position: relative;

            a, p {
             font-size: 17px;
             padding: 0 10px;
             display: block;
             color: #000000;
             line-height: 24px;
             text-decoration: none;
            }

            a:hover {
              color: #6448DD;
            }
         

            #point {
              position: absolute;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              bottom: -4px;
              transform: translateX(-50%);
              left: 50%;
              background-color: #6448DD;
            }


            .ul-none {
              display: none;
              position: absolute;
              width: 650px;
              top: 0;
              margin: 0;
              padding-top: 70px;
         

              .ul-content {
                width: 100%;
                padding: 15px 15px 15px 10px;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                z-index: 4;
                background-color: white;

                #a-start {
                  display: block;
                  padding: 10px 10px 25px 10px;

                  h3 {
                  color: #323638;
                  font-size: 17px;
                  font-weight: 900;
                }

                p {
                  font-size: 15px;
                  margin-top: 20px;
                  font-weight: 400;
                }
                }

              }
              #a-start:hover {
                background-color: rgb(248, 248, 248);
              }

              .ul-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                li {
                  width: 49%;
                  margin: 5px 0 0 0;
                  padding: 2px 0;

                  a {
                    color: #323638;
                    font-weight: 400;
                    font-size: 16px;
                    display: block;
                    padding: 5px;



                    h3 {
                      color: #323638;
                      font-size: 17px;
                      font-weight: 900;
                    }
    
                    p {
                      font-size: 15px;
                      margin-top: 5px;
                      font-weight: 400;
                    }
                  }

                  a:hover {
                    background-color: rgb(248, 248, 248);
                  }
                }
              }

              #a-end {
                color: #323638;
                font-weight: 400;
                font-size: 16px;
                display: block;
                padding: 5px;

                h3 {
                  color: #323638;
                  font-size: 17px;
                  font-weight: 900;
                }

                p {
                  font-size: 15px;
                  margin-top: 5px;
                  font-weight: 400;
                }
              }
              #a-end:hover {
                background-color: rgb(248, 248, 248);
              }
            }

          }

          li:hover .ul-none {
            display: block;
            transform: translateY(30px); 
            animation: slideUp 0.5s ease-out forwards;
          }
          @keyframes slideUp {
            from {
              transform: translateY(30px);
              opacity: 0.7;
            }
            to {
              transform: translateY(0px);
              opacity: 1;
            }
          }
          #home {
            font-weight: 600;
          }
          li:hover .link-p {
            color: #6448DD;
          }
        }
      }

      .right {
        
        a {
          background: #6448DD;
          color: white;
          font-size: 16px;
          padding: 2px;
          margin-right: -2px;
          border-radius: 10px;
          display: none;
          text-decoration: none;
          transition: all 0.6s;

          @include media-breakpoint-up(lg) {
            display: block;
          }

          span {
            width: 100%;
            height: 100%;
            display: block;
            padding: 6px 13px;
            background-color: #6448DD;
            border-radius: 8px;
           }

        }
        a:hover {
          background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
          box-shadow: 0px 5px 15px rgba(100, 72, 221, 0.35),
          0px 5px 15px rgba(232, 68, 199, 0.35),
          0px 5px 15px rgba(68, 123, 234, 0.35),
          0px 5px 15px rgba(91, 168, 243, 0.35);
        }

        #menu-btn {
          display: block;
          margin: 11px;
          @include media-breakpoint-up(lg) {
            display: none;
          }

        }
      }
    }
  }


























  //started
   .started {
    width: 100%;
    position: relative;
    padding-bottom: 117px;
    overflow: hidden;


    @include media-breakpoint-up(sm) {
      padding-bottom: 60px;
     }

    @include media-breakpoint-up(xl) {
      padding-bottom: 106px;
    }


    #ellipse-left {
      position: absolute;
      left: -203px;
      top: -250px;
      z-index: 1;

      @include media-breakpoint-up(md) {
        left: 0;
        top: 0px;
        }
    }

    #ellipse-right {
      position: absolute;
      right:  -331px;
      top: -500px;
      z-index: 1;

      @include media-breakpoint-up(md) {
        right: 0px;
        top: -20px;
        }
    }

     .started-content {
      max-width: 1400px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(sm) {
        width: 90%;
      }
     

      @include media-breakpoint-up(xl) {
        display: flex;
        justify-content: space-between;
        flex-direction: unset;
      }

      .content-left {
        margin: 20px auto;
        max-width: 735px;
        z-index: 2;
        text-align: center;
        order: 2;

        @include media-breakpoint-up(xl) {
          margin: 143px 0 0 0px;
          max-width: 735px;
          text-align: left;
        }

        @include media-breakpoint-up(xd) {
          margin: 143px 0 0 145px;
          order: 1;
        }

    
  
        h3 {
          font-size: 40px;
          font-weight: 900;
          line-height: 47px;
          margin-top: 26px;
      

          @include media-breakpoint-up(sm) {
            font-size: 55px;
            letter-spacing: 1.2px;
            line-height: 70px;
            margin-top: 10px;
          }

          @include media-breakpoint-up(md) {
            font-size: 65px;
            letter-spacing: 2px;
            line-height: 79px;
          }


          @include media-breakpoint-up(xd) {
            font-size: 75px;
          }

        
        
          #purple {
            font-weight: 100;
            color: #6448DD;

            @include media-breakpoint-up(sm) {
              letter-spacing: -2px;
            }
          }
        }
        #br-none {
          display: block;

          @include media-breakpoint-up(xm) {
            display: none;
          }
        }

        p {
          margin: 12px auto;
          font-size: 15px;
          line-height: 23px;
          max-width: 600px;
          font-weight: 400;

          @include media-breakpoint-up(sm) {
            font-size: 20px;
            margin: 25px auto;
            line-height: 29px;
            word-spacing: 0px;
            letter-spacing: 0px;
          }

          @include media-breakpoint-up(md) {
            margin: 39px auto;
          }
          

          @include media-breakpoint-up(xl) {
            max-width: unset;
          }
         

          @include media-breakpoint-up(xl) {
            padding-right: 190px;
            margin: 39px 0 0 0;
          }
        }

        .started-flex {
          display: flex;
          align-items: center;
          margin: 20px auto 0 auto;
          width: fit-content;
          justify-content: center;
   
          @include media-breakpoint-up(sm) {
           justify-content: unset;
           margin: 40px auto 0 auto;
           padding: 0;
          }
         

          @include media-breakpoint-up(xl) {
            margin: 40px 0 0 0;
            width: unset;
          }
          
          a {
            display: block;
            font-size: 14px;
            @include media-breakpoint-up(sm) {
              font-size: 20px;
             }
            
          }

          #started-link {
            text-underline-offset: 5px;
            color: #6448DD;
            transition: all 0.6s;
            padding: 10px 5px;

            @include media-breakpoint-up(sm) {
              margin: 0 5px 0 -5px;
             }
          }

          #started-link:hover {
            color: #447BEA;
          }

          #started-btn {
            text-decoration: none;
            background: #6448DD;
            color: white;
            padding: 2px;
            border-radius: 10px;
            transition: all 0.6s;
            margin-left: 22px;

            @include media-breakpoint-up(sm) {
              margin-left: 25px;
             }

             span {
              width: 100%;
              height: 100%;
              display: block;
              padding: 10px 21px;
              background-color: #6448DD;
              border-radius: 8px;
             }
          }

          #started-btn:hover {
            background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
            box-shadow: 0px 5px 15px rgba(100, 72, 221, 0.35),
            0px 5px 15px rgba(232, 68, 199, 0.35),
            0px 5px 15px rgba(68, 123, 234, 0.35),
            0px 5px 15px rgba(91, 168, 243, 0.35);
          }
        }
      }

      .content-right {
        position: relative;
        order: 1;
        margin: 50px auto 0 auto;
        width: fit-content;

        @include media-breakpoint-up(xl) {
          position: relative;
          width: unset;
          margin: 0;
          order: 2;
        }


        #GPU-img {
          margin: 28px 10px 0 0;
          width: 287px;
          z-index: 2;
          position: relative;

          @include media-breakpoint-up(sm) {
            width: 340px;
            margin: 0;
          }

          @include media-breakpoint-up(md) {
            width: 400px;
          }
         

          @include media-breakpoint-up(xl) {
            top: 121px;
            position: absolute;
            right: -15px;
            width: unset;
          }
        }

        #clip-path {
          position: absolute;
          display: block;
          top: 27px;
          right: 60px;
          width: 70px;
          z-index: 1;

          @include media-breakpoint-up(sm) {
            width: 100px;
            top: -20px;
            right: 40px;
          }

          @include media-breakpoint-up(md) {
            top: -15px;
            right: 70px;
          }

          @include media-breakpoint-up(xl) {
            top: 121px;
            width: unset;
            right: 122px;
          }
        }
      }
     }

     .partners {
      margin-top: 66px;

      @include media-breakpoint-up(sm) {
        margin-top: 50px;
       }

      @include media-breakpoint-up(xl) {
        margin-top: 237px;
      }


      p {
        text-align: center;
        font-size: 10px;
        letter-spacing: 5px;
        font-weight: 100;
        margin-left: 4px;
        word-spacing: 2px;

        @include media-breakpoint-up(sm) {
          font-size: 16px;
          letter-spacing: 4px;
          margin-left: 21px;
          word-spacing: 0;
         }

         @include media-breakpoint-up(md) {
          font-size: 20px;
         }
      }

      .swiper {
        width: 90%;
        max-width: 744px;
        margin-top: 7px;
  
        z-index: 2;
       

        @include media-breakpoint-up(sm) {
          margin-top: 12px;
         }

        .swiper-wrapper {
          transition-timing-function: linear !important;
          height: 100%;
  
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height:fit-content;
                height: 50px;
          
                img {
                  width: 100px;
                   max-height: 40px;
                   object-fit: cover;
                }
      }
}
  }
     }
   }




























   //Powerful


   .powerful {
    width: 100%;
    background-color: #000000;
    padding: 24px 0 30px 0;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      padding: 40px 0 60px 0;
     }

    @include media-breakpoint-up(md) {
      padding: 60px 0 80px 0;
    }

    @include media-breakpoint-up(xl) {
      padding: 84px 0 130px 0;
    }

    #ellipse-powerful {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

   
    }

    .powerful-content {
      max-width: 1400px;
      width: 90%;
      margin: 0 auto;
      z-index: 2;
      position: relative;

      @include media-breakpoint-up(xl) {
        display: flex;
        justify-content:center;
        align-items: start;
      }

      @include media-breakpoint-up(xd) {
        justify-content: flex-start;
      }

      .content-left {
        margin: 0 auto;
        width: fit-content;

        @include media-breakpoint-up(xl) {
          max-width: 560px;
          width: unset;
          margin: 0;
        }

        @include media-breakpoint-up(xd) {
          margin: 0 0 0 144px;
        }
        
        img {
          width: 298px;
          margin: 0 auto;
          display: block;

          @include media-breakpoint-up(sm) {
            width: 320px;
           }

          @include media-breakpoint-up(md) {
            width: 400px;
          }

          @include media-breakpoint-up(xl) {
            width: 512px;
            margin: 0;
          }
        }

        h3 {
          color: white;
          font-size: 40px;
          letter-spacing: 0.6px;
          line-height: 40px;
          text-align: center;
          max-width: 600px;
          padding: 30px 13px 0 19px;

          

          @include media-breakpoint-up(sm) {
            font-size: 45px;
            line-height: 60px;
            padding: 10px 0 0 0;
           }

          @include media-breakpoint-up(md) {
            font-size: 50px;
          }

          @include media-breakpoint-up(xl) {
          text-align: left;
          font-size: 55px;
          margin: 0px 125px 0 0;
          max-width: unset;
          }
          

          #powerful-slim {
            font-weight: 100;
            font-size: 34px;

            @include media-breakpoint-up(sm) {
              font-size: 45px;
             }

             @include media-breakpoint-up(md) {
              font-size: 50px;
            }
  
            @include media-breakpoint-up(xl) {
            font-size: 55px;

            }
          }
        }

        #powerful-btn {
          color: #6448DD;
          text-decoration: none;
          font-size: 14px;
          margin: 25px auto;
          font-weight: 600;
          border-radius: 10px;
          display: block;
          width: fit-content;
          z-index: 2;
          padding: 2px;
          background-color: white;
          transition: all 0.6s;

          @include media-breakpoint-up(sm) {
            margin: 44px auto;
            font-size: 20px;
           }

          @include media-breakpoint-up(xl) {
            margin: 50px 0 0 0;
            }

            span {
              background-color: white;
              display: block;
              width: 100%;
              height: 100%;
              padding: 10px 20px;
              border-radius: 8px;
            }
        }

        #powerful-btn:hover {
          background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);

          box-shadow: 0px 5px 15px rgba(100, 72, 221, 0.35),
          0px 5px 15px rgba(232, 68, 199, 0.35),
          0px 5px 15px rgba(68, 123, 234, 0.35),
          0px 5px 15px rgba(91, 168, 243, 0.35);
        }


      }




      .content-right {
        margin: 3px 0 0 0px;

        @include media-breakpoint-up(xd) {
          margin: 3px 0 0 41px;

        }
        
        .type {
          color: white;
          border-bottom: 1px dotted white;
          max-width: 550px;
          padding:  17px 0 14px 0;
          margin: 0 auto;
          text-align: center;
         

          @include media-breakpoint-up(sm) {
            padding: 24px 0 30px 0;
           }

          @include media-breakpoint-up(xl) {
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin: 0;
            text-align: left;
            }

          img {
            margin-left: 7px;
            margin: 8px 0 0 7px;
            width: 40px;
          }

          .img-of {
            display: none;
          }

          .type-content {
            @include media-breakpoint-up(lg) {
              margin: 0px 0 0 26px;
             }

            h3 {
              font-size: 28px;
              margin-left: 5px;

              @include media-breakpoint-up(sm) {
                font-size: 30px;
                margin: 0;
               }
            }

            p {
              font-size: 16px;
              word-spacing: 0px;
              letter-spacing: 0px;
              font-weight: 400;
              line-height: 22px;

              @include media-breakpoint-up(sm) {
                font-size: 15px;
                margin: 0;
                            }
            }
          }

        }

        .type:hover h3 {
            background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3); 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
            background-clip: text;
        }

        .type:hover .img-on {
         display: none;
      }

      .type:hover .img-of {
        display: unset;
     }


     
       #last-type {
        border-bottom: 0px;
       }
      }

    
    }


   }












   //nvidia


   .nvidia {
    width: 100%;

    .nvidia-content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
     flex-direction: column-reverse;
      padding: 0 0 70px 0;
      width: 90%;

      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: unset;
        padding: 90px 0 89px 0;
        width: unset;
    }

      .content-left {
        
        grid-row: 2;

        @include media-breakpoint-up(lg) {
          grid-row: 1;
          margin-left: 45px;
      }

        h3 {
          margin-top: 10px;
          text-align: center;
          font-weight: 800;
          font-size: 40px;
          letter-spacing: 0.1px;
          margin-left: 6px;
          line-height: 46px;

          @include media-breakpoint-up(sm) {
            font-size: 45px;
            letter-spacing: 0.8px;
            line-height: 60px;
            margin-left: 0;
           }

          @include media-breakpoint-up(md) {
            font-size: 50px;
          }

          @include media-breakpoint-up(lg) {
            text-align: left;
            font-size: 55px;
            letter-spacing: 0;
            max-width: 530px;
        }

          #nvidia-slim {
            font-weight: 100;
            letter-spacing: 0.1px;
            color: #6448DD;
            font-size: 35px;

            @include media-breakpoint-up(sm) {
              font-size: 45px;
  
             }

             @include media-breakpoint-up(md) {
              font-size: 50px;
            }
  
            @include media-breakpoint-up(lg) {
              font-size: 55px;

          }
          }

          .nvidia-none {
            @include media-breakpoint-up(sm) {
              display: none;
  
             }
          }
        }

        .details {
          margin: 18px auto 0 auto;
          width: fit-content;

          @include media-breakpoint-up(sm) {
            margin: 40px auto 0 auto;
           }

          @include media-breakpoint-up(md) {
            margin: 60px auto 0 auto;
          }
          @include media-breakpoint-up(lg) {
            margin: 60px 0 0 100px;
            width: unset;
        }

          .type {
            border-left: 2px solid #6448DD;
            

            @include media-breakpoint-up(sm) {
              padding-left: 22px;
             }

            h4 {
              font-size: 28px;
              font-weight: 700;
              text-align: center;
              margin-left: 21px;

              

              @include media-breakpoint-up(md) {
                font-size: 30px;
                text-align: left;
                margin-left: 0;
              }
              @include media-breakpoint-up(lg) {
              max-width: 430px;
            }
            }

            p {
              font-size: 16px;
              font-weight: 400;
              margin-top: -3px;
              margin-left: 19px;
              text-align: center;


          

              @include media-breakpoint-up(sm) {
                font-size: 18px;
                margin-left: 0;
                text-align: left;
               }
            }
          }
          :nth-child(2) {
            margin-top: 20px;

            h4 {
              line-height: 31px;
               padding-top: 6px;
            }

            p {
              margin-top: 0px;
            }
          }

          :nth-child(3) {
            margin-top: 20px;
          }

          #nvidia-btn {
            background: #1A1A1B;
            font-size: 16px;
            font-weight: 600;
            padding: 2px;
            border-radius: 10px;
            color: white;
            display: block;
            width: fit-content;
            text-decoration: none;
            margin: 37px auto 0 auto;
            transition: all 0.6s;


            @include media-breakpoint-up(sm) {
              margin: 41px auto 0 auto;
             }

            @include media-breakpoint-up(lg) {
              margin: 41px 0 0 1px;
          }
          span {
            width: 100%;
            height: 100%;
            display: block;
            padding: 7px 23px;
            background-color: #1A1A1B;
            border-radius: 8px;
           }
        }

        #nvidia-btn:hover {
          background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
          box-shadow: 0px 5px 15px rgba(100, 72, 221, 0.35),
          0px 5px 15px rgba(232, 68, 199, 0.35),
          0px 5px 15px rgba(68, 123, 234, 0.35),
          0px 5px 15px rgba(91, 168, 243, 0.35);
        }
        }
      }
      .content-right {
        grid-row: 1;

        @include media-breakpoint-up(lg) {
          grid-row: 2;
      }
        video {
          width: 350px;
          display: block;
          margin: 0 auto;
          max-width: 100%;
          pointer-events: none; 
          user-select: none;

          @include media-breakpoint-up(sm) {
            width: 400px;
            max-width: unset;
           }

          @include media-breakpoint-up(md) {
            width: 500px;
          }

          @include media-breakpoint-up(lg) {
            margin: 0;
            display: unset
        }
          @include media-breakpoint-up(xl) {
            width: 600px;
           
          }
        }
      }

    }
   }










   .deploy {
    background-color: #000000;
    color: white;
    position: relative;
    overflow: hidden;

    #ellipse-deploy {
      position: absolute;
      right: -100px;

      @include media-breakpoint-up(md) {
        top: 0;
        right: 0;
      }
    }

    .deploy-content {
      max-width: 1400px;
      margin: 0 auto;
      width: 90%;
      padding: 78px 0 85px 0;

      @include media-breakpoint-up(sm) {
        padding: 90px 0 77px 0;
      }

      .deploy-start {
        text-align: center;
        max-width: 750px;
        margin: 0 auto;

        h3 {
          font-size: 40px;
          letter-spacing: 0.8px;
          padding-left: 3px;
          font-weight: 600;
          line-height: 48px;

          @include media-breakpoint-up(sm) {
            font-size: 45px;
            padding-left: 19px;
            line-height: unset;
          }

          @include media-breakpoint-up(md) {
            font-size: 55px;
          }
        }

        p {
          font-size: 15px;
          font-weight: 400;
          padding: 17px 0 0 0px;

          @include media-breakpoint-up(sm) {
            font-size: 20px;
            padding: 11px 0 0 16px;
          }

          @include media-breakpoint-up(md) {
            font-size: 22px;
          }
        }
      }

      .content-benefits {
        padding: 44px 0px;

        @include media-breakpoint-up(sm) {
           padding: 43px 0px;
        }

        @include media-breakpoint-up(lg) {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-left: 19px;
      }

        @include media-breakpoint-up(xl) {
          padding: 43px 115px;
        }
        
        .benefit {
          width: 100%;
          position: relative;
          max-width: 500px;
          margin: 30px auto;
          background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
          border-radius: 20px; 
          box-sizing: border-box; 
          padding: 1px;

          @include media-breakpoint-up(sm) {
            margin: 20px auto;
          }

          @include media-breakpoint-up(md) {
            max-width: 600px;
          }

          @include media-breakpoint-up(lg) {
            width: 47%;
            margin: 12.5px;
            max-width: 550px;
        }

          @include media-breakpoint-up(xd) {
            width: 100%;
          }

          .gradient-border-inner {
            background-color: #0d0d0d;
            padding: 50px 0;
            width: 100%;
            border-radius: 20px; 
            height: 100%;

          
            .center {
            
              width: 90%;
              margin: 0 auto;
              text-align: center;

              @include media-breakpoint-up(sm) {
                max-width: 368px;            
                width: 80%;
              }
              h3 {
                font-weight: 700;
                font-size: 27px;

                @include media-breakpoint-up(xl) {
                  font-size: 30px;
                }
              }

              p {
                font-weight: 400;
                font-size: 16px;
                margin-top: 9px;

                @include media-breakpoint-up(sm) {
                  font-size: 18px;
                  margin: 0;
               }
              }
            }
        }
        }
      }

      .deploy-end {
        max-width: 648px;
        margin: 0 auto;
        text-align: center;

        @include media-breakpoint-up(xl) {
          margin-top: 70px;
        }

        h3 {
          font-size: 28px;
          font-weight: 700;
     

        

          @include media-breakpoint-up(xl) {
            padding-left: 17px;
            font-size: 30px;
          }
        }

        p {
          font-size: 16px;
          font-weight: 400;
          width: 370px;
          margin: 0 auto;
          margin-top: 2px;
         

          @include media-breakpoint-up(sm) {
            font-size: 17px;
          }
          @include media-breakpoint-up(xl) {
            font-size: 18px;
            padding-left: 16px;
          }
        }

        .img {
          display: flex;
          justify-content: space-between;
          max-width: 346px;
          margin: 0 auto;
          padding: 17px 0 0 8px;
         

         img {
          width: 30%;

          @include media-breakpoint-up(sm) {
            width: 102px;
          }

          @include media-breakpoint-up(xl) {
              width: unset;
          }
         }
        }
      }
    }
   }
















   .select {
    width: 100%;
    overflow: hidden;
    padding: 90px 0;

    .select-top {
      text-align: center;


      p {
        font-size: 10px;
        font-weight: 250;
        color: #6448DD;
        letter-spacing: 5px;
 

        @include media-breakpoint-up(sm) {
          font-size: 12px;
        }

        @include media-breakpoint-up(md) {
          font-size: 18px;
          padding-left: 19px;
        }
      }

      h3 {
        font-size: 40px;
        font-weight: 800;
        max-width: 300px;
        margin: 10px auto;
        line-height: 44px;
        
     

        @include media-breakpoint-up(sm) {
          padding-top: 10px;
          max-width: 600px;
          margin: 0 auto;
          line-height: 62px;
        }

        @include media-breakpoint-up(md) {
          font-size: 45px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 55px;
          padding-left: 10px;
      }
      }
    }

    .swiper-wrapper {
      transition-timing-function: linear !important;
      margin-top: 27px;
      padding: 20px 0;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 480px;
            background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
            padding: 1px;
            border-radius: 20px;
            margin: 0 10px;
            box-shadow: rgba(0, 13, 26, 0.35) 0px 5px 15px;
            

        .container {
          background-color: white;
          width: 100%;
          border-radius: 20px;
          display: flex;
          padding: 15px 20px;

          img {
            width: 125px;
           background-color: #f7f6fd;
           border-radius: 10px;
          }

          .swiper-right {
            padding-left: 35px;
            h3 {
              font-size: 28px;
              font-weight: 700;

              @include media-breakpoint-up(md) {
                font-size: 30px;
              }

            }

            p {
              font-size: 15px;
              font-weight: 400;

              span {
                font-weight: 700;
              }
            }

            .bottom-btn {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-top: 15px;

              .learn-link {
                font-size: 16px;
                font-weight: 16px;
                transition: all 0.6s;
                color: #6448DD;
              }

              .learn-link:hover {
                color: #447BEA;
              }

              .get-link {
                padding: 2;
                border-radius: 11px;
                font-size: 16px;
                font-weight: 600;
                color: white;
                transition: all 0.6s;
                text-decoration: none;
                background: #6448DD;
                margin-top: 10px;

                span {
                  width: 100%;
                  height: 100%;
                  display: block;
                  padding: 8px 20px;
                  background-color: #6448DD;
                  border-radius: 9px;
                 }
              }

              .get-link:hover {
                background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
                box-shadow: 0px 5px 15px rgba(100, 72, 221, 0.35),
                0px 5px 15px rgba(232, 68, 199, 0.35),
                0px 5px 15px rgba(68, 123, 234, 0.35),
                0px 5px 15px rgba(91, 168, 243, 0.35);
              }
            }
          }

          
        }
  }
}

.bottom-swiper {
  margin-top: -20px;
}

#browse-link {
  display: block;
  width: fit-content;
  margin: 60px auto 20px auto;
  color: #6448DD;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.6s;


  @include media-breakpoint-up(sm) {
    margin: 43px auto;
    padding-left: 9px;
  }

}
#browse-link:hover {
  color: #447BEA;
}
   }
















   //faq
  
   .faq{
    width: 100%;
    margin-top: -28px;
    overflow: hidden;


    .faq-content {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 13px;


      @include media-breakpoint-up(sm) {
        width: 90%;
        padding: 0 20px;
    }

      @include media-breakpoint-up(xl) {
        padding: 0;
        width: unset;
    }

      h3 {
        font-size: 55px;
        font-weight: 800;
        text-align: center;


        @include media-breakpoint-up(xl) {
          padding-left: 17px;
      }
      }

      .questions {
        max-width: 1120px;
        margin: 31px auto;

        @include media-breakpoint-up(sm) {
          margin: 25px auto;
      }
        .type {
          margin-bottom: 16px ;
          .question {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid; 
            border-image: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3) 1;
            
            @include media-breakpoint-up(md) {
              align-items: center;
            }
            h4 {
              font-size: 20px;
              font-weight: 700;
              padding-left: 3px;
              color: #1A1A1B;

              @include media-breakpoint-up(sm) {
                font-size: 23px;
              }

              @include media-breakpoint-up(md) {
                font-size: 26px;
              }

            }
            .arrow {
              font-size: 50px;
              font-weight: 300; 
              line-height: 1; 
              transform: rotate(90deg);
              color: #1A1A1B;
              transition: transform 0.6s;
            }
            
          }

          .answer {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transform: translateY(-10px);
            transition: max-height 0.6s ease-out, opacity 0.6s ease-out, transform 0.6s ease-out;


            p {
              font-size: 18px;
              font-weight: 400;
            }
          }

          .active {
            max-height: 100%;
            opacity: 1;
            transform: translateY(0);
            margin-top: 8px;
          }
          
          
        }
      }
    }
   }













   .started-border {
    background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
    max-width: 750px;
    margin: 100px auto 0 auto;
    padding: 3px;
    overflow: hidden;
    border-radius: 30px;
    width: 90%;

    @include media-breakpoint-up(lg) {
      border-radius: 54px;
   }



    @include media-breakpoint-up(lg) {
      max-width: 1137px;
  }

    @include media-breakpoint-up(xl) {
      width: unset;
      margin: 150px auto 0 auto;
  }

  #animate {
    position: absolute;
    z-index: 1;
    bottom: 0; 
    left: 0; 
    transition: transform 0.1s ease-out;
    object-fit: cover; 



    @include media-breakpoint-up(lg) {
      height: 200%; 
      top: 0; 
      left: 0;   }
  }

   .started {
   background-color: black;
   border-radius: 30px;
   color: white;
   padding: 40px 10px 64px 10px;
   position: relative;
   z-index: 2;


   @include media-breakpoint-up(sm) {
    padding: 40px 10px;
  }


   @include media-breakpoint-up(lg) {
    display: flex;
    border-radius: 54px;
    justify-content: space-between;
    padding: 42px 0 57px 81px;
}

   .started-left {
    position: relative;
    z-index: 3;
    text-align: center;

    @include media-breakpoint-up(lg) {
      max-width: 400px;
      text-align: left;
  }

    h3 {
      font-size: 40px;
      font-weight: 800;
      line-height: 43px;
      

      @include media-breakpoint-up(sm) {
        font-size: 45px;
        line-height: 61px;
      }

      @include media-breakpoint-up(md) {
        font-size: 55px;

      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
      margin: 19px auto;
      max-width: 500px;

      @include media-breakpoint-up(sm) {
        font-size: 18px;
      }

      @include media-breakpoint-up(md) {
        font-size: 22px;
      }


      @include media-breakpoint-up(lg) {
       max-width: unset;
       margin: 19px 0 0 0;
    }
    }
    a{

      display: block;
      color: #6448DD;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
      margin: 30px auto;
      width: 100%;
      position: relative;
      z-index: 2;
      transition: all 0.6s;
      padding: 2px;

      @include media-breakpoint-up(sm) {
        width: fit-content;
      }



      @include media-breakpoint-up(lg) {
        margin: 30px 0 0 0;
    }

    span {
      width: 100%;
      height: 100%;
      display: block;
      padding: 10px 20px;
      background-color: white;
      border-radius: 8px;
     }
  }

  a:hover {
    background: linear-gradient(90deg, #6448DD, #E844C7, #447BEA, #5BA8F3);
  }
   }

   .started-right {
    position: relative;
    z-index: 2;
    height: 200px;

    @include media-breakpoint-up(xl) {
     height: unset;
  }

    img {
      width: 728px;
      position: absolute;
      top: -71px;
      right: -130px;

    
  
      @include media-breakpoint-up(xl) {
        right: -106px;
    }
    }

    #img-desktop {
      display: none;

      @include media-breakpoint-up(lg) {
       display: block;
    }
    }

    #img-phone {
      display: block; 
      right: -19px;
      width: 357px;
      top: -87px;

      @include media-breakpoint-up(lg) {
       display: none;
    }
    }
   }
   }


  
  }










  //contact


  .contact {
    background-color: #000000;
    color: white;
    margin-top: 100px;
    padding: 40px 0 60px 0;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding: 70px 0;
  }

    @include media-breakpoint-up(md) {
      padding: 140px 0 140px 27px;
   }


    .contact-center {
      max-width: 1150px;
      margin: 0 auto;

    
      .contact-flex {
        display: flex;
        align-items: self-start;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 300px;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
         justify-content: unset;
         flex-wrap: nowrap;
         margin: 0;
         max-width: unset;
      }

     
        .type {

        h3 {
          font-size: 22px;
          font-weight: 400;
        }

        p {
          font-size: 12.59px;
          font-weight: 400;
        }

        a {
          display: block;
          font-size: 13.39px;
          font-weight: 400;
          color: White;
          text-decoration: none;
          padding: 7px 0;
        }
       
          :nth-child(2) {
            margin-top: 15px;
            line-height: 18px;

            @include media-breakpoint-up(md) {
              margin-top: 23px;
          }
          }
        }
        .type-first {
          p {
            margin-bottom: 8px;
          }
          a {
            padding: 0;
            font-size: 12.7px;
          }
        }
         .type-center {

          @include media-breakpoint-up(lg) {
            margin: 0px 100px;
        }

          @include media-breakpoint-up(xl) {
            margin: 0px 141px;
        }
        }
        .type-last {
          @include media-breakpoint-up(md) {
            margin-left: 28px;
        }
        }

        .type-media {

          @include media-breakpoint-up(md) {
            display: none;
        }
          img {
            display: block;
            margin: 18px 0;
          }

          :nth-child(1) {
            margin: 0;
          }
        }
      }

      .contact-media {
        display: none;

        @include media-breakpoint-up(md) {
          display: flex;
          align-items: center;
          margin: 14px 0 0 9px;
      }
      
        img {
          margin: 0 5px;
        }
      }

      #copyright {
        font-size: 12.59px;
        font-weight: 700;
        width: fit-content;
        margin: 21px auto;

        @include media-breakpoint-up(md) {
          margin: 21px 0 0 15px;
          width: unset;
      }
      }
    }
  }











  //menu-phone

  .mobile-menu {
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 1000;
    width: 250px;
    background-color: #151621;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    padding: 10px 25px;
    transition: left 0.7s;
    display: block;

    @include media-breakpoint-up(lg) {
      display: none;
    }


    ul {
        margin: 10px 0px;
        list-style: none;

        li {
            margin: 5px 0;


            a, p {
              font-size: 13px;
                display: block;
                padding: 5px 0;
                color: #edf1f3;
                line-height: 24px;
                margin: 15px 0;
                text-decoration: none;
                font-weight: 700;
                

            }
   

            #home-phone {
              font-weight: 900;
            }


            .ul-none {
              background-color: white;
              border-radius: 5px;
              padding: 15px 0;
              display: none;
              margin-bottom: 30px;


              .ul-content {
                width: 168px;
                margin: 0 auto;


                #menu-start {
                  display: block;

                  h3 {
                  color: #323638;
                  font-size: 16px;
                  font-weight: 900;
                }

                p {
                  font-size: 14px;
                  color: #424242;
                  margin-top: 20px;
                  font-weight: 400;
                }
                }

              }



              .ul-flex {

                li {
                  width: 100%;
                  margin: 2px 0 0 0;
                  padding: 2px 0;

                  a {
                    color: #323638;
                    font-weight: 600;
                    font-size: 15px;
                    display: block;
                    padding: 0px;




                    h3 {
                      color: #323638;
                      font-size: 17px;
                      font-weight: 900;
                    }
    
                    p {
                      font-size: 14px;
                      margin-top: 5px;
                      font-weight: 400;
                      color: #535252;
                    }
                  }

                  a:hover {
                    background-color: rgb(248, 248, 248);
                  }
                }
              }
              #menu-end {
                color: #323638;
                font-weight: 400;
                font-size: 16px;
                display: block;
                padding: 5px;

                h3 {
                  color: #323638;
                  font-size: 17px;
                  font-weight: 900;
                }

                p {
                  font-size: 14px;
                  margin-top: 5px;
                  color: #535252;
                  font-weight: 400;
                }
              }

            }
        }
        li:hover .ul-none{
           display: block;
        }
    }
}
}
